.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: rgb(92, 85, 85);
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.profile__edit-btn {
  margin-top: auto;
  opacity: 0.7;
  color: rgb(92, 85, 85);
  background-color: transparent;
  border: none;
  gap: 8px;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.profile__edit-btn:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

.profile__add-btn {
  margin-left: auto;
  color: #fff;
  background-color: #212121;
  width: 149px;
  height: 52px;
  border-radius: 10px;
  gap: 8px;
  margin-top: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__add-btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__edit-btn {
    justify-content: center;
  }
}
